.add-button {
  border-radius: 50px;
  height: 100%;
  min-width: 8%;
}

.add-button-div {
  margin: 1%;
  height: 50px;
}

.right-button {
  float: right;
  margin-right: 20px;
}

.highlight {
  background: #979797b4; /* green */
}

.card {
  border-top: 1px solid rgba(0, 0, 0, 0.075);
  border-right: 1px solid rgba(0, 0, 0, 0.075);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-left: 10px;
}

.img-banner {
  object-fit: cover;
  width: 100%;
  height: 250px;
  border: 2px solid black;
}

.img-logo {
  width: 75%;
  height: 75%;
  border-radius: 100%;
  border: 2px solid black;
}

.table{
  min-width:750px;
  width: 51%;
  float:left;
  margin-right:1%;
}

.card-campaign{
  min-width:750px;
  width: 48%;
  float: left;
}

.title{
  float: left;
  width: 50%;
  height: 100%;
}

.logo{
  float: right;
  width: 250px;
  height: 250px;
}

.header-card{
  width: 100%;
  height: 250px;
}

.bold{
  font-weight: bold;
}

.survey-button{
  background-color: rgba(80, 193, 245, 0.7);
}

.searchBar{
  width: 80%;
  min-height: 54px;
  height: 100%;
  float:right;
}

.newItem{
  background-color: #E0F5FF; 
}

.action-button{
  min-width: 150px;
  max-width: 200px;
}