.add-button{
    border-radius: 50px;
    height: 100%;
    width: 8%;
  }
  
  .add-button-div{
    margin: 1%;
    height: 50px;
  }
  
  .full-dimension{
      width: 100%;
      height: 100%;
  }
  
  .right-button{
    float:right;
    margin-right: 20px;
  }