<!-- <mat-card class="card-expandable card-normal">
    <mat-card-title (click)="toggle()">
        {{title}}
        <mat-card-actions class="right-button top-button">
                <mat-icon *ngIf="state==='collapsed'">
                    <span class="material-symbols-outlined">
                        expand_more
                        </span>
                </mat-icon>
                <mat-icon *ngIf="state==='expanded'">
                    <span class="material-symbols-outlined">
                        expand_less
                        </span>
                </mat-icon>
        </mat-card-actions>
    </mat-card-title>
    <mat-card-content [@bodyExpansion]="state" class="expandable-content">
        <rich-text-editor [control]="richControl"></rich-text-editor>
    </mat-card-content>
</mat-card> -->