<form>
  <div style="margin-left: 20px;margin-right: 20px;">
    <div class="md-form input-group mb-3">
      <input type="text" class="form-control" placeholder="Territory" aria-label="Username"
        aria-describedby="material-addon1">
    </div>
    <div class="md-form input-group mb-3">
      <input type="text" class="form-control" placeholder="Letitudine" aria-label="Username"
        aria-describedby="material-addon1">
    </div>
    <div class="md-form input-group mb-3">
      <input type="text" class="form-control" placeholder="Longitudine" aria-label="Username"
        aria-describedby="material-addon1">
    </div>
    <div class="md-form input-group mb-3">
      <input type="text" class="form-control" placeholder="Raggio" aria-label="Username"
        aria-describedby="material-addon1">
    </div>
    <div class="md-form input-group mb-3">
      <input type="text" class="form-control" placeholder="Privacy" aria-label="Username"
        aria-describedby="material-addon1">
    </div>
    <div class="md-form input-group mb-3">
      <input type="text" class="form-control" placeholder="UrlImage" aria-label="Username"
        aria-describedby="material-addon1">
    </div>
    <div class="md-form input-group mb-3">
      <input type="text" class="form-control" placeholder="Rules" aria-label="Username"
        aria-describedby="material-addon1">
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Submit form</button>
    </div>
  </div>

</form>
