.input-custom-half-left{
  width: 45%;
  margin-right: 1%;
}

.input-custom-half-right{
  width: 45%;
  margin-left: 1%;
}

.in-line-forms{
  width: 100%;
}

.full-width{
  width: 100%;
}

.full-heigth{
  height: 100%;

}

.map-div{
  margin-bottom: 20px; 
  height: 410px;
}

.right-button{
  float:right;
  margin-right: 20px;
}

.green{
  background-color: rgb(102, 226, 102);
}

.top-button{
  position: relative;
  top:-10px;
}


.card-normal{
  border: solid 1px black;
}

.card-expandable{
  margin-right: 8%;
  margin-bottom: 30px;
}

.float-left{
  float:left;
}