<mat-drawer-container>
    <mat-drawer mode="side" opened></mat-drawer>
    <mat-drawer-content>
        <div class="full-size">
            <div class="full-size">
                <button   class="full-size button-hover" mat-flat-button routerLink="/territory">
                    <mat-icon>
                        <span class="material-icons-outlined">
                            group_work
                        </span>
                    </mat-icon>
                    {{'territorySideNav' | translate}}
                </button>
            </div>
            <div class="full-size">
                <div class="full-size">
                    <button class="full-size button-hover"  mat-flat-button routerLink="/campaign">
                        <mat-icon>
                            <span class="material-icons-outlined">
                                class
                            </span>
                        </mat-icon>
                        {{'campaignSideNav' | translate}}
                    </button>
                </div>
                <!-- <div class="right-button">
                    <mat-icon style="margin-top:10px;">
                        <span class="material-icons-outlined">
                            expand_more
                        </span>
                    </mat-icon>
                </div> -->
            </div>
            <div class="full-size">
                <button class="full-size button-hover" mat-flat-button routerLink="/track">
                    <mat-icon>
                        <span class="material-icons-outlined">
                            route
                        </span>
                    </mat-icon>
                    {{"validateTrack" | translate}}
                </button>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>