<mat-card class="card-expandable card-normal">
    <mat-card-title>
        {{title}}
        <mat-card-actions class="right-button top-button">
            <button type="button" mat-button (click)="toggle()" color="primary">
                <mat-icon *ngIf="state==='collapsed'">
                    <span class="material-symbols-outlined">
                        expand_more
                        </span>
                </mat-icon>
                <mat-icon *ngIf="state==='expanded'">
                    <span class="material-symbols-outlined">
                        expand_less
                        </span>
                </mat-icon>
            </button>
        </mat-card-actions>
    </mat-card-title>
    <mat-card-content [@bodyExpansion]="state" class="expandable-content" [innerHTML]="content">
    </mat-card-content>
</mat-card>