.card-normal{
    border: solid 1px black;
  }
  
  .card-expandable{
    margin-bottom: 30px;
  }

  .right-button{
    float:right;
    margin-right: 20px;
  }

  .top-button{
    position: relative;
    top:-10px;
  }

