<div class="full-height">
    <div class="add-button-div">
        <button mat-raised-button color="primary" class="add-button" (click)="addComunication()">
            <mat-icon>add</mat-icon>
            {{'add' | translate}}
        </button>
    </div>
    <div class="full-height">
        <div class="table">
            <mat-card class="card" style="margin-left: 10px;">
                <mat-grid-list cols="3" rowHeight="6:1">
                    <mat-grid-tile style="height: 80px;">
                        <div class="full-dimension" style="text-align: left;">
                            <mat-card-title>
                                {{'communications' | translate}}
                            </mat-card-title>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile style="height: 65px;">
                        <form class="example-form">
                            <mat-form-field class="example-full-width" appearance="fill" >
                                <mat-label>{{'campaignId' | translate}}</mat-label>
                                <mat-select [(ngModel)]="selectedCampaign" (closed)="searchCommunication($event)">
                                    <mat-option *ngFor="let val of listCampaings" [value]="val">{{val | translate}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </form>
                    </mat-grid-tile>
                    <mat-grid-tile style="height: 65px;">
                        <form class="example-form">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>{{'channel' | translate}}</mat-label>
                                <mat-select [(ngModel)]="searchString" (closed)="searchCommunication($event)" >
                                    <mat-option *ngFor="let val of listComunications" [value]="val">{{val | translate}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </form>
                    </mat-grid-tile>
                </mat-grid-list>
                <mat-card-content>
                    <div class="full-width">
                        <table mat-table [dataSource]="dataSource" class="full-width" matSort>

                            <ng-container matColumnDef="title">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    sortActionDescription="Sort by title"> {{ 'title'| translate}} </th>
                                <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                            </ng-container>

                            <ng-container matColumnDef="when">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    sortActionDescription="Sort by dateFrom"> {{ 'tillWhen'| translate}} </th>
                                <td mat-cell *matCellDef="let element"> {{fromTimestampToDate(element.timestamp)}} </td>
                            </ng-container>

                            <ng-container matColumnDef="channel">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    sortActionDescription="Sort by channel"> {{ 'channel'| translate}} </th>
                                <td mat-cell *matCellDef="let element"> {{translateList(element.channels)}} </td>
                            </ng-container>


                            <!-- <ng-container matColumnDef="users">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    sortActionDescription="Sort by users"> {{ 'users'| translate}} </th>
                                <td mat-cell *matCellDef="let element"> {{element.users}} </td>
                            </ng-container> -->

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr class="cursor-pointer" mat-row (click)="selectedCommunication(row)"
                                [ngClass]="{'highlight': !!communicationSelected && communicationSelected.title === row.title,'newItem' : !!newItem && row.title === newItem.title}"
                                *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>

                        <mat-paginator [pageSizeOptions]="size" showFirstLastButtons [length]="paginatorData.totalElements"
                        (page)="selectedPageSize($event)">
                        </mat-paginator>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div *ngIf="!!communicationSelected" class="card-communication">
            <mat-card class="card" style="margin-right: 10px;">
                <mat-card-title>
                    {{communicationSelected.title}}
                </mat-card-title>
                <mat-card-content>
                    <div style="margin-top: 10px">
                        <p class="bold">{{'dateFrom' |translate }}: {{fromTimestampToDate(communicationSelected.from)}}
                            {{'dateTo' |translate }}:
                            {{fromTimestampToDate(communicationSelected.to)}}</p>
                        <h3 class="bold">{{'channels' | translate}}</h3>
                        <ul>
                            <li *ngFor="let mean of communicationSelected.channels">
                                {{mean | translate}}
                            </li>
                        </ul>
                        <div *ngIf="!!communicationSelected.players && communicationSelected.players!==[]">
                            <h3 class="bold">{{'players' | translate}}</h3>
                            <ul>
                                <li *ngFor="let player of communicationSelected.players">
                                    {{player | translate}}
                                </li>
                            </ul>
                        </div>
                        <p class="bold">{{"description" | translate}}</p>
                        <p>{{communicationSelected.description}}</p>
                        <p class="bold">{{"richDescription" | translate}}</p>
                        <p [innerHTML]="communicationSelected.html">
                        </p>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>