.input-half-left{
    width: 45%;
    margin-right: 25px;
  }
  
  .input-half-right{
    width: 45%;
    margin-left: 1%;
  }
  
  .in-line-forms{
    width: 100%;
  }


  .add{
      margin-left: 1%;
      top:-3px;
      position: relative;
      float:right;
  }

  .delete{
    background: red; 
    color: white;
    margin-right: 20px;
  }

  .edit{
    background: #9cf19979; 
  }

  .bold{
      font-weight: bold;
  }

  .error{
    color: red;
    position: absolute;
    left: 5px;
  }

.header-bar-stick{
  background-color: white;
  position: sticky;
  z-index: 1000;
  top: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.116);
  margin-top: 10px;
}

.title-left{
  margin-top: 10px;
  float:left; 
  min-width: 500px;
  width: 75%;
  height: 100%;
}


.title-right{
  width: 25%;
  height: 100%;
  float: right;
}
.header-div{
  position: absolute;
}

.close-div{
  display: inline-block;
  width: 10%;
  height: 35px;
  margin-bottom: 0px;
}

.lable-file{
    top:-10px;
}

.video-title > ::ng-deep figure {
  justify-content: flex-start !important;
}

.title-mid{
  font-size:large; 
  margin-right:5px; 
  margin-bottom: 0px;
}

.download-button{
  width: 100%; 
  position:absolute;
}
.input-class{
  width: 95%;
  margin-right:5%
}
.header-chunck{
  height: 35px;
  margin-bottom: 15px; 
  margin-top: 10px;
}