.right-button{
    position: relative;
    float:right;
  }
  
  .confirm-delete{
    color:white;
    position: relative;
    float:right;
    background-color: red;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .red-text{
    color: red;
  }
  .grey-background{
    background-color: rgb(197, 197, 197);
  }