.right-button{
    position: relative;
    float:right;
  }
  
  .confirm-delete{
    color:white;
    position: relative;
    float:right;
    background-color: red;
  }
  
  .red-text{
    color: red;
  }