<div class="header-bar-stick">
    <mat-grid-list [cols]="8" rowHeight="60px">
        <mat-grid-tile [colspan]="6">
            <mat-grid-list [cols]="1" rowHeight="30px" style="width: 100%;">
                <mat-grid-tile [colspan]="1"><h1 style="width: 100%;margin-bottom: 0px;">{{"handleManager" | translate}} - {{name}} </h1></mat-grid-tile>
                <mat-grid-tile [colspan]="1"><p style="width: 100%; height: 18px;">{{'campaignId' | translate}} - {{territoryId}}</p></mat-grid-tile>
            </mat-grid-list>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1">
            <button class="grey-background" type="button" mat-flat-button (click)="onNoClick($event)">
                {{'cancel'|translate}}
            </button>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1">
            <button color="primary" type="submit" mat-flat-button (click)="saveData(listActions)">
                <mat-icon>
                    <span class="material-symbols-outlined">
                        save
                    </span>
                </mat-icon>
                {{'save' |translate}}
            </button>
        </mat-grid-tile>
    </mat-grid-list>
    <ul *ngIf="errorMsgNewManagerList.length >0">
        <li class="red" *ngFor="let item of errorMsgNewManagerList">
            {{item}}
        </li>
    </ul>
</div>

<div class="black-box">
    <mat-grid-list [cols]="8" rowHeight="60px" >
        <form [formGroup]="newManagerForm">
            <mat-grid-tile [colspan]="8">
                <p class="full-width">{{'addNewManager' | translate}}</p>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="6">
                <div class="full-width">
                    <mat-form-field class="full-dimension" appearance="fill">
                        <mat-label>{{'email' | translate}}</mat-label>
                        <input matInput id="email" formControlName="email">
                    </mat-form-field>
                </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2">
                <button color="primary" type="submit" mat-flat-button (click)="addNewManagerFunc()">
                    <mat-icon>
                        <span class="material-symbols-outlined">
                            add
                        </span>
                    </mat-icon>
                    {{'add' |translate}}
                </button>
            </mat-grid-tile>
        </form>
    </mat-grid-list>
    <p *ngIf="!!errorAddNewManager" class="red full-width">{{errorAddNewManager | translate}}</p>
</div>
<div class="full-width">
    <table mat-table [dataSource]="dataSource" class="full-width" matSort (matSortChange)="announceSortChange($event)">

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by email">
                {{ 'email'| translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.manager.preferredUsername}} </td>
        </ng-container>

        <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by role">
                {{ 'role'| translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.manager.role | translate}} </td>
        </ng-container>

        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> {{ 'delete'| translate}} </th>
            <td mat-cell *matCellDef="let element">
                <button type="button" mat-icon-button (click)="deleteManager(element)">
                    <mat-icon>
                        <span class="material-icons-outlined">
                            delete
                        </span>
                    </mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row
            [ngClass]="{'newItem': newManager && (newManager.manager.preferredUsername ===row.manager.preferredUsername)} "
            *matRowDef="let row; columns: displayedColumns;">
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
    </mat-paginator>

</div>