.highlight {
    background: #979797b4;
  }

  .input-custom-half-left{
    width: 45%;
    margin-right: 1%;
  }
  
  .input-custom-half-right{
    width: 45%;
    margin-left: 1%;
  }

  .add-button-div {
    margin-bottom: 1%;
    height: 50px;
  }
  
  .right-button{
    position: relative;
    float:right;
  }

  .header-div{
    position: relative; top: -28px;
    display: inline-block;
    width: 88%;
  }

  .close-div{
    display: inline-block;
    width: 10%;
    height: 50px;
  }

  .red{
    color:red;
  }

  .grey-background{
    background-color: rgb(197, 197, 197);
  }
  
  .red-background{
      background-color: red;
  }

  .confirm-delete-row{
    width: 100%;
  }

  .newItem{
    background-color: #E0F5FF; 
  }


  .black-box{
    border: black solid 1px;
    padding: 7px;
  }

  .header-bar-stick{
    background-color: white;
    position: sticky;
    z-index: 1000;
    top: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.116);
    margin-top: 10px;
  }
