<div class="maring-20">
    <mat-card class="card-normal full-dimension" id="search-card" *ngIf="!showTierFilter">
        <mat-card-title>
            {{'tracks' | translate}}
        </mat-card-title>
        <mat-card-content id="content" class="expandable-content">
            <form [formGroup]="validatingForm">
                <mat-grid-list cols="4" rowHeight="60px" style="margin: 5px;">
                    <mat-grid-tile>
                        <mat-form-field appearance="fill" class="full-width margin-form">
                            <mat-label>{{'dateFrom' | translate}}</mat-label>
                            <input matInput id="dateFrom" formControlName="dateFrom" [matDatepicker]="picker1"
                                (ngModelChange)="changeDateFrom()">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field appearance="fill" class="full-width margin-form">
                            <mat-label>{{'status' | translate}}</mat-label>
                            <mat-select id="status" formControlName="status" (ngModelChange)="resetPageNumber()">
                                <mat-option *ngFor="let val of listStates" [value]="val">{{val | translate}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field appearance="fill" class="full-width margin-form">
                            <mat-label>{{'playerId' | translate}}</mat-label>
                            <input matInput id="playerId" formControlName="playerId"
                                (ngModelChange)="resetPageNumber()">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field appearance="fill" class="full-width margin-form">
                            <mat-label>{{'campaignId' | translate}}</mat-label>
                            <mat-select id="campaignId" formControlName="campaignId"
                                (ngModelChange)="resetPageNumber()">
                                <mat-option *ngFor="let val of listCampaings" [value]="val">{{val | translate}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field appearance="fill" class="full-width margin-form">
                            <mat-label>{{'dateTo' | translate}}</mat-label>
                            <input matInput id="dateTo" formControlName="dateTo" [matDatepicker]="picker"
                                (ngModelChange)="changeDateTo()">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <mat-form-field appearance="fill" class="full-width margin-form">
                            <mat-label>{{'means' | translate}}</mat-label>
                            <mat-select id="modeType" formControlName="modeType" (ngModelChange)="resetPageNumber()">
                                <mat-option *ngFor="let val of listModelType" [value]="val">{{val | translate}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <mat-form-field appearance="fill" class="full-width margin-form" >
                            <mat-label>{{'trackId' | translate}}</mat-label>
                            <input matInput id="trackId" formControlName="trackId" (ngModelChange)="resetPageNumber()">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <button style="margin-bottom: 20px;" color="primary" mat-flat-button type="button"
                        (click)="switchTrackToRanking()">{{(!showTierFilter? 'ranking' : 'tracks' ) | translate }}</button>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="2">
                        <div class="search-container">
                            <button class="margin-form" mat-flat-button type="submit" (click)="searchSubmit()"
                                color="primary">
                                <mat-icon>
                                    <span class="material-symbols-outlined">
                                        search
                                    </span>
                                </mat-icon>
                                {{"search" | translate}}
                            </button>
                            <button class="margin-form" mat-flat-button type="button" mat-flat-button color="primary"
                                (click)="resetSearchFields()">
                                <mat-icon>
                                    <span class="material-symbols-outlined">
                                        cached
                                    </span>
                                </mat-icon>
                                {{"resetSearchFields" | translate}}
                            </button>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
            </form>
        </mat-card-content>
    </mat-card>
    <mat-card class="card-normal full-dimension" id="search-card" *ngIf="showTierFilter">
        <mat-card-title>
            {{'ranking' | translate}}
        </mat-card-title>
        <mat-card-content id="content" class="expandable-content">
            <form [formGroup]="validatingFormRanking">
                <mat-grid-list cols="4" rowHeight="60px" style="margin: 5px;">
                    <mat-grid-tile>
                        <mat-form-field appearance="fill" class="full-width margin-form">
                            <mat-label>{{'dateFrom' | translate}}</mat-label>
                            <input matInput id="dateFrom" formControlName="dateFrom" [matDatepicker]="picker1"
                                (ngModelChange)="changeDateFrom()">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field appearance="fill" class="full-width margin-form">
                            <mat-select [disabled]="true">
                            </mat-select>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field appearance="fill" class="full-width margin-form">
                            <mat-select [disabled]="true">
                            </mat-select>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field appearance="fill" class="full-width margin-form">
                            <mat-label>{{'campaignId' | translate}}</mat-label>
                            <mat-select id="campaignId" formControlName="campaignId"
                                (ngModelChange)="resetPageNumber()">
                                <mat-option *ngFor="let val of listCampaingsClean" [value]="val">{{val |
                                    translate}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field appearance="fill" class="full-width margin-form">
                            <mat-label>{{'dateTo' | translate}}</mat-label>
                            <input matInput id="dateTo" formControlName="dateTo" [matDatepicker]="picker"
                                (ngModelChange)="changeDateTo()">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field appearance="fill" class="full-width margin-form">
                            <mat-select [disabled]="true">
                            </mat-select>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field appearance="fill" class="full-width margin-form">
                            <mat-select [disabled]="true">
                            </mat-select>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <button style="margin-bottom: 20px;" color="primary" mat-flat-button type="button"
                        (click)="switchTrackToRanking()">{{(!showTierFilter? 'ranking' : 'tracks' ) | translate }}</button>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="2">
                        <div class="search-container">
                            <button class="margin-form" mat-flat-button type="submit" (click)="searchSubmitRanking()"
                                color="primary">
                                <mat-icon>
                                    <span class="material-symbols-outlined">
                                        search
                                    </span>
                                </mat-icon>
                                {{"search" | translate}}
                            </button>
                            <button class="margin-form" mat-flat-button type="button" mat-flat-button color="primary"
                                (click)="resetSearchFieldsRanking()">
                                <mat-icon>
                                    <span class="material-symbols-outlined">
                                        cached
                                    </span>
                                </mat-icon>
                                {{"resetSearchFields" | translate}}
                            </button>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
            </form>
            <div *ngIf="rankingUsersList.length >0">
                <p class="awarness">{{'selectPlayerToShowTracks' | translate}}</p>
                <cdk-virtual-scroll-viewport [tvsItemSize]="48" headerHeight="5" style="height: 350px;width: 100%;">
                    <table mat-table [dataSource]="dataSourceRankingUsersList" class="full-width">
                        <ng-container matColumnDef="position">
                            <th mat-header-cell *matHeaderCellDef>
                                {{'position' | translate}}
                            </th>
                            <td class="margin-20" mat-cell *matCellDef="let element">
                                {{element.position}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="nickname">
                            <th mat-header-cell *matHeaderCellDef>
                                {{'nickname' | translate}}
                            </th>
                            <td class="margin-20" mat-cell *matCellDef="let element">
                                {{element.nickname}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="playerId">
                            <th mat-header-cell *matHeaderCellDef>
                                {{'playerId' | translate}}
                            </th>
                            <td class="margin-20" mat-cell *matCellDef="let element">
                                {{element.playerId}}
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsRankingUsers"></tr>
                        <tr mat-row class="cursor-pointer" *matRowDef="let row; columns: displayedColumnsRankingUsers;"
                            (click)="onSelectUserFromRankingList(row)"
                            [ngClass]="{'highlight-table': !!row && !!selectedRankingUser && row.position===selectedRankingUser.position}">
                        </tr>
                    </table>
                </cdk-virtual-scroll-viewport>
            </div>
            <p *ngIf="rankingUsersList.length ===0" class="awarness">
                {{'noUserRankingFound' | translate}}
            </p>
        </mat-card-content>
    </mat-card>
    <div class="bottom-div" style="margin-top: 20px;">
        <div class="list-tracks">
            <mat-grid-list [cols]="3" rowHeight="50px">
                <mat-grid-tile [colspan]="1">
                    <span>{{'valids' | translate}}: {{statisticsTracks.valid}} </span>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1">
                    <span>{{'invalids' | translate}}: {{statisticsTracks.invalid}}</span>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1">
                    <span>{{'pending' | translate}}: {{statisticsTracks.pending}}</span>
                </mat-grid-tile>
            </mat-grid-list>
            <cdk-virtual-scroll-viewport [tvsItemSize]="94" headerHeight="5" style="height: 800px;">
                <table mat-table [dataSource]="dataSource" class="full-width">
                    <ng-container matColumnDef="tracks">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td class="margin-20" mat-cell *matCellDef="let element">
                            <mat-card class="cursor-pointer card-normal" (click)="showTrack(element)"
                                [ngClass]="{'highlight': selectedRowIndex === element.trackedInstance.id,
                                    'yellow-background' : element.trackedInstance.validationResult.travelValidity==='PENDING',
                                    'red-background' : element.trackedInstance.validationResult.travelValidity==='INVALID',
                                    'green-background' : element.trackedInstance.validationResult.travelValidity==='VALID'  }">
                                <mat-grid-list cols="3" rowHeight="30px">
                                    <mat-grid-tile>
                                        <span class="full-width">
                                            {{getDateFromTimeStamp(element.trackedInstance.startTime)}}
                                        </span>
                                    </mat-grid-tile>
                                    <mat-grid-tile style="width: 70%;">
                                        <span class="bold full-width center-text">
                                            {{element.trackedInstance.freeTrackingTransport |
                                            translate}}
                                        </span>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <span class="full-width text-ellips">
                                            {{(element.trackedInstance.validationResult.travelValidity==='PENDING'?
                                            'pending': element.trackedInstance.validationResult.travelValidity)
                                            | translate}} 
                                            <span *ngIf="!!element.trackedInstance.toCheck">{{'validWithReserve' | translate}}</span>
                                        </span>
                                        
                                    </mat-grid-tile>
                                </mat-grid-list>
                                <mat-grid-list cols="1" rowHeight="30px">
                                    <mat-grid-tile>
                                        <span class=" left-text full-width">
                                            <span class="bold">
                                                {{'player' | translate}}: {{element.playerInfo.nickname}}
                                            </span>

                                            <span class="text-center full-width">
                                                ({{element.playerInfo.playerId}})
                                            </span>
                                        </span>
                                    </mat-grid-tile>
                                </mat-grid-list>
                            </mat-card>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </cdk-virtual-scroll-viewport>

            <mat-paginator [pageSizeOptions]="size" showFirstLastButtons [length]="paginatorData.totalElements"
                (page)="selectedPageSize($event)">
            </mat-paginator>
        </div>
        <div class="info-track">
            <mat-card class="card-normal full-dimension" style="height: auto;" *ngIf="!!selectedTrack">
                <div class="header-detatils">
                    <div class="left-header">
                        <mat-card class="card-normal full-dimension"
                            [ngClass]="{
                                    'yellow-background' : selectedTrack.trackedInstance.validationResult.travelValidity==='PENDING',
                                    'red-background' : selectedTrack.trackedInstance.validationResult.travelValidity==='INVALID',
                                    'green-background' : selectedTrack.trackedInstance.validationResult.travelValidity==='VALID'  }">
                            <mat-card-title>{{'travelInfo'|translate}}</mat-card-title>
                            <mat-card-content>
                                <mat-grid-list cols="3" rowHeight="50px" style="margin: 5px;">
                                    <mat-grid-tile [colspan]="2">
                                        <div class="wrapper">
                                            <span class="info-title">
                                                <span class="bold"> {{'trackId' | translate}}: </span> <br />
                                                <span>
                                                    {{selectedTrack.trackedInstance.id}}
                                                </span>
                                            </span>
                                        </div>
                                    </mat-grid-tile>
                                    <mat-grid-tile [colspan]="1">
                                        <div class="wrapper">
                                            <span class="info-title">
                                                <span class="bold">
                                                    {{'status' | translate}}:</span> <br />
                                                <span>
                                                    {{(statisticsSelectedTrack.validity==='PENDING'? 'pending':
                                                    statisticsSelectedTrack.validity) | translate}} 
                                                    <span *ngIf="!!selectedTrack.trackedInstance.toCheck">{{'validWithReserve' | translate}}</span>
                                                </span>
                                            </span>
                                        </div>
                                    </mat-grid-tile>
                                    <mat-grid-tile [colspan]="2">
                                        <div class="wrapper">
                                            <span class="info-title">
                                                <span class="bold">
                                                    {{'start' | translate}}:</span> <br />
                                                <span>
                                                    {{statisticsSelectedTrack.start}}
                                                </span>
                                            </span>
                                        </div>
                                    </mat-grid-tile>
                                    <mat-grid-tile [colspan]="1">
                                        <div class="wrapper">
                                            <span class="info-title">
                                                <span class="bold">
                                                    {{'end' | translate}}: </span> <br />
                                                <span>
                                                    {{statisticsSelectedTrack.end}}
                                                </span>
                                            </span>
                                        </div>
                                    </mat-grid-tile>
                                    <mat-grid-tile [colspan]="2">
                                        <div class="wrapper">
                                            <span class="info-title">
                                                <span class="bold"> {{'mean' | translate}}: </span> <br />
                                                <span>
                                                    {{selectedTrack.trackedInstance.freeTrackingTransport
                                                    |
                                                    translate}}
                                                </span>
                                            </span>
                                        </div>
                                    </mat-grid-tile>
                                    <mat-grid-tile [colspan]="1">
                                        <div class="wrapper">
                                            <span class="info-title">
                                                <span class="bold">
                                                    {{'distance' | translate}}:</span> <br />
                                                <span>
                                                    {{statisticsSelectedTrack.distance | round}} (m)
                                                </span>
                                            </span>
                                        </div>
                                    </mat-grid-tile>
                                    <mat-grid-tile [colspan]="2">
                                        <div class="wrapper">
                                            <span class="info-title">
                                                <span class="bold">
                                                    {{'maxSpeed' | translate}}:</span> <br />
                                                <span>
                                                    {{statisticsSelectedTrack.maxSpeed | round}} (m/s)
                                                </span>
                                            </span>
                                        </div>
                                    </mat-grid-tile>
                                    <mat-grid-tile [colspan]="1">
                                        <div class="wrapper">
                                            <span class="info-title">
                                                <span class="bold">
                                                    {{'avrgSpeed' | translate}}:</span> <br />
                                                <span>
                                                    {{statisticsSelectedTrack.avrgSpeed | round}} (m/s)
                                                </span>
                                            </span>
                                        </div>
                                    </mat-grid-tile>
                                    <mat-grid-tile [colspan]="2">
                                        <div class="wrapper">
                                            <span class="info-title">
                                                <span class="bold">{{'playerId' | translate}}:</span> <br />
                                                <span class="text-ellips">
                                                    {{selectedTrack.playerInfo.playerId}}
                                                </span>
                                            </span>
                                        </div>
                                    </mat-grid-tile>
                                    <mat-grid-tile [colspan]="1">
                                        <div class="wrapper">
                                            <span class="info-title">
                                                <span class="bold">{{'nickname' | translate}}:</span> <br />
                                                <span>
                                                    {{selectedTrack.playerInfo.nickname}}
                                                </span>
                                            </span>
                                        </div>
                                    </mat-grid-tile>
                                    <div *ngIf="!!selectedTrack.trackedInstance.deviceInfo">
                                        <mat-grid-tile [colspan]="2">
                                            <div class="wrapper">
                                                <span class="info-title">
                                                    <span class="bold">
                                                        {{'deviceModel' | translate}}:</span> <br />
                                                    <span>
                                                        {{deviceInfo.model}}
                                                    </span>
                                                </span>
                                            </div>
                                        </mat-grid-tile>
                                        <mat-grid-tile [colspan]="1">
                                            <div class="wrapper">
                                                <span class="info-title">
                                                    <span class="bold">
                                                        {{'platform' | translate}}:</span> <br />
                                                    <span>
                                                        {{deviceInfo.platform }} {{deviceInfo.osVersion}}
                                                    </span>
                                                </span>
                                            </div>
                                        </mat-grid-tile>
                                        <mat-grid-tile [colspan]="2">
                                            <div class="wrapper">
                                                <span class="info-title">
                                                    <span class="bold">
                                                        {{'appVersion' | translate}}:</span> <br />
                                                    <span>
                                                        {{deviceInfo.version}}
                                                    </span>
                                                </span>
                                            </div>
                                        </mat-grid-tile>
                                        <mat-grid-tile [colspan]="1">
                                            <div class="wrapper">
                                                <span class="info-title">
                                                    <span class="bold">
                                                        {{'virtual' | translate}}:</span> <br />
                                                    <span *ngIf="deviceInfo.isVirtual" class="red"
                                                        style="background-color: white;">({{ 'virtual' |
                                                        translate}})</span>
                                                    <span *ngIf="!deviceInfo.isVirtual">({{ 'notVirtual' |
                                                        translate}})</span>
                                                </span>
                                            </div>
                                        </mat-grid-tile>
                                        <mat-grid-tile [colspan]="2">
                                            <div class="wrapper">
                                                <span class="info-title">
                                                    <span class="bold">
                                                        {{'changedValidity' | translate}}:</span> <br />
                                                        <!-- here if different from null it was modified-->
                                                    <span>{{ (selectedTrack.trackedInstance.changedValidity?
                                                        'changedValidity' : 'notChangedValidity') | translate}}</span>
                                                </span>
                                            </div>
                                        </mat-grid-tile>
                                    </div>

                                </mat-grid-list>
                                <button class="margin-5" mat-flat-button color="primary" (click)="changeStatus()">
                                    <mat-icon>
                                        <span class="material-icons-outlined">
                                            edit
                                        </span>
                                    </mat-icon>
                                    {{'modifyTrack' | translate}}
                                </button>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="right-header">
                        <mat-card class="card-normal table-details">
                            <mat-card-title>{{'pointsPerCampaign' | translate}}</mat-card-title>
                            <mat-card-content>
                                <p style="color: red"
                                    *ngIf="selectedTrack.trackedInstance.validationResult.travelValidity==='INVALID'">
                                    {{'error' | translate}}:
                                    {{selectedTrack.trackedInstance.validationResult.validationStatus.error}}</p>
                                <ul *ngIf="selectedTrack.campaigns.length>0">
                                    <li *ngFor="let campaign of selectedTrack.campaigns" class="light-background">
                                        <h3 style="margin-bottom: 0px;">{{campaign.campaignName[selectedLanguage]}} -
                                            {{campaign.campaignId}}</h3>
                                        <p style="font-style:italic">{{campaign.type | translate}}</p>
                                        <p>{{(campaign.valid? 'valid' : 'invalid') | translate}},
                                            <span *ngIf="campaign.type==='school' || campaign.type==='city'">
                                                {{'score' |
                                                translate}}:
                                                {{campaign.score}},
                                            </span>
                                            {{'distance' | translate}}: {{campaign.distance |
                                            round}} (m)</p>
                                        <p *ngIf="!!campaign.errorCode" class="red">
                                            {{'errors' | translate}}: {{campaign.errorCode}}
                                        </p>
                                    </li>
                                </ul>
                            </mat-card-content>

                        </mat-card>
                    </div>
                </div>
                <div class="map-class" style="border: solid 1px black;" id="map" leaflet [leafletOptions]="mapOptions"
                    (leafletMapReady)="initializeMap($event)">
                </div>
                <mat-card class="table-details card-normal">
                    <mat-card-title>
                        {{'trackDetails' | translate}}
                    </mat-card-title>
                    <mat-card-content>
                        <!-- <mat-grid-list [cols]="3" rowHeight="50px">
        
                            </mat-grid-list> -->
                        <button mat-flat-button type="button" color="primary" (click)="showAllDataOnMap()"
                            style="margin-right:20px;">
                            <span *ngIf="showAllPoints">
                                {{'showAllPoints' | translate}}
                            </span>
                            <span *ngIf="!showAllPoints">
                                {{'hideAllPoints' | translate}}
                            </span>
                        </button>
                        <button mat-flat-button type="button" color="primary" (click)="restShowedPoints()">
                            <mat-icon>
                                <span class="material-symbols-outlined">
                                    cached
                                </span>
                            </mat-icon>
                            {{'reset' | translate}}
                        </button>

                        <cdk-virtual-scroll-viewport [tvsItemSize]="48" headerHeight="5" style="height: 350px;">
                            <table mat-table [dataSource]="dataSourceInfoTrack" class="full-dimension">

                                <ng-container matColumnDef="index">
                                    <th mat-header-cell *matHeaderCellDef class="center-text">
                                        {{ 'index'| translate}} </th>
                                    <td mat-cell *matCellDef="let element" class="center-text">
                                        {{element.index+1}}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="date">
                                    <th mat-header-cell *matHeaderCellDef class="center-text">
                                        {{ 'date'| translate}} </th>
                                    <td mat-cell *matCellDef="let element" class="center-text">
                                        {{createDate(element.recorded_at)}}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="accuracy">
                                    <th mat-header-cell *matHeaderCellDef class="center-text">
                                        {{ 'accuracy'| translate}} ({{'meters' | translate}}) </th>
                                    <td mat-cell *matCellDef="let element" class="center-text">
                                        {{element.accuracy}}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="activity">
                                    <th mat-header-cell *matHeaderCellDef class="center-text">
                                        {{ 'activity'| translate}} </th>
                                    <td mat-cell *matCellDef="let element" class="center-text">
                                        {{element.activity_type}}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="activityConfidence">
                                    <th mat-header-cell *matHeaderCellDef class="center-text">
                                        {{ 'activityConfidence'| translate}} (%) </th>
                                    <td mat-cell *matCellDef="let element" class="center-text">
                                        {{element.activity_confidence}}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="lat">
                                    <th mat-header-cell *matHeaderCellDef class="center-text">
                                        {{ 'latitude'| translate}} </th>
                                    <td mat-cell *matCellDef="let element" class="center-text">
                                        {{element.latitude}}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="long">
                                    <th mat-header-cell *matHeaderCellDef class="center-text">
                                        {{ 'longitude'| translate}} </th>
                                    <td mat-cell *matCellDef="let element" class="center-text">
                                        {{element.longitude}}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="isMoving">
                                    <th mat-header-cell *matHeaderCellDef class="center-text">
                                        {{ 'isMoving'| translate}} </th>
                                    <td mat-cell *matCellDef="let element" class="center-text">
                                        {{element.is_moving}}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="speed">
                                    <th mat-header-cell *matHeaderCellDef class="center-text">
                                        {{ 'speed'| translate}} (m/s) </th>
                                    <td mat-cell *matCellDef="let element" class="center-text">
                                        {{element.speed}}
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumnsTrack"></tr>
                                <tr mat-row class="cursor-pointer" (click)="showPoint(row)"
                                    [ngClass]="{'highlight-table': selectedRowOnTrack(row.index)}"
                                    *matRowDef="let row; columns: displayedColumnsTrack;"></tr>
                            </table>
                        </cdk-virtual-scroll-viewport>
                    </mat-card-content>
                </mat-card>
                <mat-card class="validation card-normal expandable-content">
                    <mat-card-title class="cursor-pointer" (click)="toggle()">
                        {{'tripValidation' | translate}}
                        <mat-card-actions class="right-button top-button">
                            <mat-icon *ngIf="stateValidationTrack==='collapsed'">
                                <span class="material-symbols-outlined">
                                    expand_more
                                </span>
                            </mat-icon>
                            <mat-icon *ngIf="stateValidationTrack==='expanded'">
                                <span class="material-symbols-outlined">
                                    expand_less
                                </span>
                            </mat-icon>
                        </mat-card-actions>
                    </mat-card-title>
                    <mat-card-content [@bodyExpansion]="stateValidationTrack" class="expandable-content">

                        <p [innerHtml]="innerHtmlValidation"></p>
                        <!-- <p>{{selectedTrack.trackedInstance.validationResult.validationStatus | json}}</p> -->

                    </mat-card-content>
                </mat-card>
            </mat-card>
        </div>
    </div>

</div>