<div class="full-height maring-20">
    <!-- casa -->
    <mat-card class="card-normal" id="search-card">
        <mat-card-title class="cursor-pointer" (click)="toggle()">
            {{'searchFilter' | translate}}
            <mat-card-actions class="right-button top-button">
                <mat-icon *ngIf="state==='collapsed'">
                    <span class="material-symbols-outlined">
                        expand_more
                    </span>
                </mat-icon>
                <mat-icon *ngIf="state==='expanded'">
                    <span class="material-symbols-outlined">
                        expand_less
                    </span>
                </mat-icon>
            </mat-card-actions>
        </mat-card-title>
        <mat-card-content id="content" [@bodyExpansion]="state" class="expandable-content">
            <form [formGroup]="validatingForm">
                <mat-grid-list cols="3" rowHeight="14:2" style="margin: 20px;">
                    <mat-grid-tile>
                        <mat-form-field appearance="fill" class="full-width margin-form">
                            <mat-label>{{'sort' | translate}}</mat-label>
                            <input matInput id="sort" formControlName="sort">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field appearance="fill" class="full-width margin-form">
                            <mat-label>{{'trackId' | translate}}</mat-label>
                            <input matInput id="trackId" formControlName="trackId">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field appearance="fill" class="full-width margin-form">
                            <mat-label>{{'playerId' | translate}}</mat-label>
                            <input matInput id="playerId" formControlName="playerId">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field appearance="fill" class="full-width margin-form">
                            <mat-label>{{'modelType' | translate}}</mat-label>
                            <input matInput id="modelType" formControlName="modelType">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field appearance="fill" class="full-width margin-form">
                            <mat-label>{{'dateFrom' | translate}}</mat-label>
                            <input matInput id="dateFrom" formControlName="dateFrom">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field appearance="fill" class="full-width margin-form">
                            <mat-label>{{'dateTo' | translate}}</mat-label>
                            <input matInput id="dateTo" formControlName="dateTo">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field appearance="fill" class="full-width margin-form">
                            <mat-label>{{'campaignId' | translate}}</mat-label>
                            <input matInput id="campaignId" formControlName="campaignId">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field appearance="fill" class="full-width margin-form">
                            <mat-label>{{'status' | translate}}</mat-label>
                            <input matInput id="status" formControlName="status">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile></mat-grid-tile>
                    <mat-grid-tile>
                        <button class="full-width" mat-flat-button type="submit" (click)="searchSubmit()"
                            color="primary">
                            <mat-icon>
                                <span class="material-symbols-outlined">
                                    search
                                </span>
                            </mat-icon>
                            {{"search" | translate}}
                        </button>
                    </mat-grid-tile>
                    <mat-grid-tile>

                        <button class="full-width" mat-flat-button type="button" mat-flat-button color="primary" (click)="resetSearchFields()">
                            <mat-icon>
                                <span class="material-symbols-outlined">
                                    delete_forever
                                </span>
                            </mat-icon>
                            {{"resetSearchFields" | translate}} 
                        </button>
                    </mat-grid-tile>
                </mat-grid-list>
            </form>
        </mat-card-content>
    </mat-card>
    <div class="full-dimension" style="margin-top: 20px;">
        <div class="table">
            <table mat-table [dataSource]="dataSource" class="full-width">

                <ng-container matColumnDef="playerId">
                    <th mat-header-cell *matHeaderCellDef> {{ 'nickname'| translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.playerInfo ? element.playerInfo.nickname :
                        'null'}} </td>
                </ng-container>

                <ng-container matColumnDef="trackId">
                    <th mat-header-cell *matHeaderCellDef> {{ 'trackId'| translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.trackedInstance.id}} </td>
                </ng-container>



                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr class="cursor-pointer" mat-row (click)="showTrack(row)"
                    [ngClass]="{'highlight': selectedRowIndex === row.trackedInstance.id}"
                    *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="size" showFirstLastButtons [length]="paginatorData.totalElements"
                (page)="selectedPageSize($event)">
            </mat-paginator>
        </div>
        <div class="map" style="border: solid 1px black;">
            {{stringall ? stringall : ''}}
        </div>
    </div>

</div>