<div class="full-height">
    <form [formGroup]="validatingForm">
        <mat-grid-list cols="3" rowHeight="14:2" style="margin: 20px;">
            <mat-grid-tile>
                <mat-form-field appearance="fill" class="full-width margin-form">
                    <mat-label>{{'campaignId' | translate}}</mat-label>
                    <input matInput id="campaignId" formControlName="campaignId">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="fill" class="full-width margin-form">
                    <mat-label>{{'campaignId' | translate}}</mat-label>
                    <input matInput id="campaignId" formControlName="campaignId">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="fill" class="full-width margin-form">
                    <mat-label>{{'campaignId' | translate}}</mat-label>
                    <input matInput id="campaignId" formControlName="campaignId">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="fill" class="full-width margin-form">
                    <mat-label>{{'campaignId' | translate}}</mat-label>
                    <input matInput id="campaignId" formControlName="campaignId">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="fill" class="full-width margin-form">
                    <mat-label>{{'campaignId' | translate}}</mat-label>
                    <input matInput id="campaignId" formControlName="campaignId">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="fill" class="full-width margin-form">
                    <mat-label>{{'campaignId' | translate}}</mat-label>
                    <input matInput id="campaignId" formControlName="campaignId">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="fill" class="full-width margin-form">
                    <mat-label>{{'campaignId' | translate}}</mat-label>
                    <input matInput id="campaignId" formControlName="campaignId">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="fill" class="full-width margin-form">
                    <mat-label>{{'campaignId' | translate}}</mat-label>
                    <input matInput id="campaignId" formControlName="campaignId">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="fill" class="full-width margin-form">
                    <mat-label>{{'campaignId' | translate}}</mat-label>
                    <input matInput id="campaignId" formControlName="campaignId">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="fill" class="full-width margin-form">
                    <mat-label>{{'campaignId' | translate}}</mat-label>
                    <input matInput id="campaignId" formControlName="campaignId">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="fill" class="full-width margin-form">
                    <mat-label>{{'campaignId' | translate}}</mat-label>
                    <input matInput id="campaignId" formControlName="campaignId">
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
    </form>
</div>