.sidebar {
  width: 9%;
  height: 100%;
}

.sidebar:hover {
  width: 100%;
  height: 100%;
  background-color: darkgray;
}

.float-container {
  padding: 0px;
}

.float-child {
  padding: 0px;
}

.logo {
  width: 84px;
  height: 60px;
  margin: 2px;
}

.example-spacer {
  height: 100%;
  width: 67%;
  //flex: 1 1 auto;
}

.full-size {
  height: 100%;
  width: 100%;
}

.side-nav {
  height: 100%;
  float: left;
  width: 13%;
}

.page {
  height: 100%;
  float: right;
  width: 87%;
}

.loading-container {
  margin-top: 10%;
  margin-left: 40%;
  background-color: white;
  width: 100vw;
  height: 100vh;
  z-index: 5;
}

.site-container {
  font-size: 14px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100vh;
  background: #f1f1f1;
  overflow: hidden;

  .site-header {
    height: 64px;
  }

  .site-content {
    height: calc(100vh - 65px);
    padding: 0 15px;
    overflow: auto;
  }
}

.border-right{
  border-right: solid rgba(0, 0, 0, 0.205) 1px;
}

.right-toolbar{
  height: 100%;
  width: 20%;
}

.manage-user-button{
  height: 100%;
  width: 10%;
}