<mat-toolbar color="primary">
    <div class="full-dimension">
        <img src="../../../assets/images/pgLogo.png" class="logo">
    </div>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="openDialogAccount($event)">
        <mat-icon>
            <span class="material-icons-outlined">
                manage_accounts
            </span>
        </mat-icon>
    </button>
</mat-toolbar>
<div class="full-size">
    <div class="side-nav">
        <app-side-nav></app-side-nav>
    </div>
    <div class="page">
        <div *ngIf="!loading" class="page">
            <router-outlet></router-outlet>
        </div>
        <div *ngIf="loading" class="loading-container">
            <mat-spinner
              color="primary"
              mode="indeterminate">
            </mat-spinner>
            <h2 style="margin-left: 20px;">{{'loading' | translate}}...</h2>
          </div>
    </div>
</div>