<mat-toolbar color="primary" class="app-toolbar">
    <div>
        <img src="../../../assets/images/pgLogo.png" class="logo">
    </div>
    <span class="example-spacer"></span>

    <mat-label *ngIf="userEnabledToVisualize" style="margin-right: 10px">{{'territory' | translate}}: </mat-label>
    <mat-select *ngIf="userEnabledToVisualize" class="territory-select" [(ngModel)]="globalSelectedTerritory"
        (selectionChange)="onGlobalSelectTerritory($event.value)">
        <mat-option *ngFor="let ter of territories" [value]="ter.territoryId">
              {{ter.territoryId | translate}}
        </mat-option>
    </mat-select>
    <!-- <mat-select *ngIf="!!!territories && territories.length===0" class="territory-select">
        <mat-option>
              {{'NoTerritoriesPerUser' | translate}}
        </mat-option>
    </mat-select> -->
    <button mat-icon-button class="example-icon favorite-icon manage-user-button"
        aria-label="Example icon-button with heart icon" [matMenuTriggerFor]="menu">
        <mat-icon>
            <span class="material-icons-outlined">
                manage_accounts
            </span>
        </mat-icon>
    </button>
</mat-toolbar>
<div class="full-size">
    <div class="side-nav" *ngIf="userEnabledToVisualize">
        <app-side-nav></app-side-nav>
    </div>
    <div class="page">
        <div *ngIf="!loading && userEnabledToVisualize" class="full-size">
            <router-outlet></router-outlet>
        </div>
        <div *ngIf="!loading && !userEnabledToVisualize">
            <h1 class="warning-user-not-valid">
                {{'wrongAccount' | translate}}
            </h1>
        </div>
        <div *ngIf="loading" class="loading-container">
            <mat-spinner color="primary" mode="indeterminate">
            </mat-spinner>
            <h2 style="margin-left: 20px;">{{'loading' | translate}}...</h2>
        </div>
    </div>
    <div class="footer" #footer>
        <button mat-button  (click)="privacy($event)">{{"privacy" | translate}}</button>

        </div>
</div>
<mat-menu #menu="matMenu">
    <div style="padding: 5px;">
        <h3>{{"account" | translate}} <span *ngIf="account.email">: {{"username" | translate}}: {{account.email}}</span></h3>
        <h5 *ngIf="account.firstName || account.lastName">{{"name" | translate}}: {{account.firstName}} {{account.lastName}}</h5>
        <div>
            <mat-form-field appearance="fill" class="lang">
                <mat-label>{{'selectLanguage' | translate}}</mat-label>
                <mat-select [(ngModel)]="selectedLanguage" id="lang">
                    <mat-option *ngFor="let lang of languagesSelectable"
                        [value]="lang" (click)="changeLanguage(lang)">
                        {{lang | translate}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <h3>{{"roles" | translate}}</h3>
        <ul *ngFor="let role of rolesMenu">
            <li><span *ngIf="role.entityId"> {{role.entityId}}: </span>{{role.role | translate}} </li>
        </ul>
        <button class="button-margin" mat-raised-button color="primary" (click)="logout($event)">
            <mat-icon>
                <span class="material-symbols-outlined">
                    logout
                    </span>
            </mat-icon>
            {{"logout" | translate}}
        </button>
    </div>

  </mat-menu>