.add-button{
    border-radius: 50px;
    height: 100%;
    width: 8%;
  }
  
  .add-button-div{
    margin: 1%;
    height: 50px;
  }
    
  .right-button{
    float:right;
    margin-right: 20px;
  }
  
  .highlight{
    background: #979797b4; /* green */
  }
  
  .card{
    border-top: 1px solid rgba(0, 0, 0, 0.075);
    border-right: 1px solid rgba(0, 0, 0, 0.075);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-left: 10px;
    min-width: 900px;
  }
    

  .hover-copy-icon:hover{
    background-color: rgba(0, 0, 0, 0.363);
  }

  .mat-column-playerId {
    width: 330px !important;
    //max-width: 340px !important;
    word-break: break-word;
  }
  .mat-column-nickname {
    width: 120px !important;
    //max-width: 150px !important;
    word-break: break-word;
  }
  .mat-column-mail {
    width: 180px !important;
    //max-width: 180px !important;
    word-break: break-word;
  }


  .mat-column-copyPlayerId {
    width: 100px !important;
    word-break: break-word;
  }
  .mat-column-copyMail {
    width: 100px !important;
    word-break: break-word;
  }

  .mat-column-copyNickname {
    width: 100px !important;
    word-break: break-word;
  }



  
  
  .table{
    width: 55%;
    height: 100%;
    float: left;
  }
  
  .card-user{
    width: 45%;
    height: 100%;
    float: right;
  }

  // .material-symbols-outlined-own {
  //   font-variation-settings:
  //   'FILL' 0,
  //   'wght' 100,
  //   'GRAD' 0,
  //   'opsz' 48
  // }

  .font-lighter{
    font-weight: 100 !important; // any weight you want your icon to be [bold, normal, 100, 200, ..., 800]
    color: rgba(0, 0, 0, 0.356);
}

.searchBar{
  width: 80%;
  min-height: 54px;
  height: 100%;
  float:right;
}