
  .in-line-forms{
    width: 100%;
  }

  .assign{
      margin-left: 1%;
      background-color: rgb(77, 255, 71);
  }


  .warning{
      color: red;
  }

  .bold{
      font-weight: bold;
  }

  .input-half-left{
    width: 49%;
    margin-right: 1%;
  }
  
  .input-half-right{
    width: 49%;
    margin-left: 1%;
  }

  .right-button{
    position: relative;
    float:right;
  }

  .awarness{
    font-style: italic;
    color: #01579b;
  }

  .grey-background{
    background-color: rgb(197, 197, 197);
  }