<mat-grid-list *ngIf="!data.copy" [cols]="4" rowHeight="30px">
    <mat-grid-tile [colspan]="3">
        <h3 class="position">{{data.displayText | translate}}</h3>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
        <button  mat-icon-button (click)="close()">
            <mat-icon>
                <span class="material-symbols-outlined">
                    close
                    </span>
            </mat-icon>
        </button>
    </mat-grid-tile>
</mat-grid-list>
<mat-grid-list *ngIf="data.copy" [cols]="4" rowHeight="30px">
    <mat-grid-tile [colspan]="1">
        <mat-icon><span>content_copy</span></mat-icon>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2">
        {{data.text}}
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
        <button  mat-icon-button (click)="close()">
            <mat-icon>
                <span class="material-symbols-outlined">
                    close
                    </span>
            </mat-icon>
        </button>
    </mat-grid-tile>
</mat-grid-list>




