.right-button{
    position: relative;
    float:right;
  }

  .warning{
      color: #01579b;
  }

  .grey-background{
    background-color: rgb(197, 197, 197);
    margin-left: 20px;
    margin-right: 20px;
  }