
.input-custom-half-left{
    width: 49%;
    margin-right: 1%;
  }
  
  .input-custom-half-right{
    width: 49%;
    margin-left: 1%;
  }
  
  .in-line-forms{
    width: 100%;
  }
    
  .right-button{
    position: relative;
    float:right;
    margin-right: 20px;
    margin-top: 10px;
  }
  
  .greed-background{
    background-color: rgba(102, 226, 102, 0.7);
  }
  
  .warning{
    color:red;
  }
  
  .grey-background{
    background-color: rgb(197, 197, 197);
  }
  

  .card-normal{
    border: solid 1px black;
  }
  
  .card-expandable{
    margin-bottom: 30px;
  }

  .header-bar-stick{
    background-color: white;
    position: sticky;
    z-index: 1000;
    top: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.116);
    margin-top: 10px;
  }
  
  .title-left{
    margin-top: 10px;
    float:left; 
    min-width: 500px;
    width: 75%;
    height: 100%;
  }
  
  
  .title-right{
    width: 25%;
    height: 100%;
    float: right;
  }

  .awarness{
    font-style: italic;
    color: #01579b;
  }