<div class="full-width">
    <form [formGroup]="validatingForm">
        <div class="header-bar-stick">
            <mat-grid-list cols="8" rowHeight="60px">
                <mat-grid-tile [colspan]="6">
                    <mat-grid-list [cols]="1" rowHeight="30px" style="width: 100%;">
                        <mat-grid-tile [colspan]="1"><h1 style="width: 100%;margin-bottom: 0px;">{{'addCommunication' | translate}}</h1></mat-grid-tile>
                        <mat-grid-tile [colspan]="1"><p *ngIf="!!errorMsgValidation" class="warning" style="width: 100%;margin-bottom: 0px;">{{errorMsgValidation | translate}}</p></mat-grid-tile>
                    </mat-grid-list>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <button class="grey-background" mat-flat-button (click)="onNoClick($event,undefined)">{{'cancel'
                        |translate}}</button>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <button color="primary" mat-raised-button type="submit" (click)="validate()">
                        <mat-icon>
                            <span class="material-symbols-outlined">
                                send
                            </span>
                        </mat-icon>
                        {{'send' |translate}}
                    </button>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
        <div class="col-12 full-width" style="margin-top: 15px;">
            <div class="full-height">
                <div class="in-line-forms">
                    <p class="input-custom-half-left awarness">{{"hintIdTerritoryAddCampaign" | translate}}</p>
                    <mat-form-field appearance="fill" class="input-custom-half-left">
                        <mat-label>{{'territoryId' | translate}}</mat-label>
                        <mat-select id="territoryId" formControlName="territoryId" [disabled]="true">
                            <mat-option *ngFor="let val of territories" [value]="val">{{val}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="in-line-forms">
                    <mat-form-field appearance="fill" class="input-custom-half-left">
                        <mat-label>{{'campaignId' | translate}}</mat-label>
                        <mat-select id="campaignId" formControlName="campaignId">
                            <mat-option *ngFor="let val of listCampaings" [value]="val">{{val | translate}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="in-line-forms">
                    <mat-form-field appearance="fill" class="input-custom-half-left">
                        <mat-label>{{'title' | translate}}</mat-label>
                        <input matInput id="title" formControlName="title">
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="input-custom-half-right">
                        <mat-label>{{'channels' | translate}}</mat-label>
                        <mat-select id="channels" formControlName="channels" multiple>
                            <mat-option *ngFor="let val of channels" [value]="val">{{val | translate}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="in-line-forms" *ngIf="emailEnabled()">
                    <p class="awarness">{{'assignCommunicationWarning' | translate}}</p>
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>{{'users' | translate}}, ({{'addUserModalityCommunication' | translate}})</mat-label>
                        <textarea matInput id="users" formControlName="users"></textarea>
                    </mat-form-field>
                </div>
                <div class="in-line-forms">
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>{{'briefDescription' | translate}}</mat-label>
                        <textarea matInput id="briefDescription" formControlName="briefDescription"></textarea>
                    </mat-form-field>
                </div>
                <div class="in-line-forms">
                    <mat-card class="card-expandable card-normal">
                        <mat-card-title class="cursor-pointer">
                            {{'text' | translate}}
                        </mat-card-title>
                        <mat-card-content class="expandable-content">
                            <rich-text-editor [control]="descriptionRichControl"></rich-text-editor>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="in-line-forms">
                    <mat-form-field appearance="fill" class="input-custom-half-left">
                        <mat-label>{{'dateFrom' | translate}}</mat-label>
                        <input matInput id="dateFrom" formControlName="dateFrom" type="datetime-local" >
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="input-custom-half-right">
                        <mat-label>{{'dateTo' | translate}}</mat-label>
                        <input matInput id="dateTo" formControlName="dateTo" type="datetime-local"> 
                    </mat-form-field>
                </div>
            </div>
        </div>
    </form>
</div>