.input-half-left{
  width: 49%;
  margin-right: 1%;
}

.input-half-right{
  width: 49%;
  margin-left: 1%;
}

.new-details-input{
  width: 65%;
}

.in-line-forms{
  width: 100%;
}

.right-button{
  position: relative;
  float:right;
  margin-right: 20px;
}

.top-button{
  position: relative;
  top:-10px;
}

.green-background{
  background-color: rgba(102, 226, 102, 0.7);
}

.red-text{
  color:red;
}

.card-normal{
  border: solid 1px black;
}

.card-expandable{
  margin-bottom: 30px;
}

.red-background{
  background-color: rgba(255, 0, 0, 0.7);
}

.delete-detail-button{
  width: 120px;
  margin-bottom: 34px;
  background-color: rgba(255, 0, 0, 0.7);
  color: white;
}