<div class="full-width" *ngIf="type === 'add'">
    <form [formGroup]="validatingForm">
        <div class="header-bar-stick">
            <mat-grid-list [cols]="8" rowHeight="60px">
                <mat-grid-tile [colspan]="6">
                    <mat-grid-list [cols]="1" rowHeight="30px" style="width: 100%;">
                        <mat-grid-tile [colspan]="1">
                            <h1 style="width: 100%;margin-bottom: 0px;">{{'addCampaign' | translate}}</h1>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="1">
                            <p *ngIf="!!errorMsgValidation" class="red" style="width: 100%;margin-bottom: 0px;">
                                {{errorMsgValidation | translate}}</p>
                        </mat-grid-tile>
                    </mat-grid-list>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1">
                    <button class="grey-background" mat-flat-button (click)="cancelGoBack($event)">{{'cancel'
                        |translate}}</button>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1">
                    <button color="primary" mat-raised-button type="submit" (click)="validate()">
                        <mat-icon>
                            <span class="material-symbols-outlined">
                                save
                            </span>
                        </mat-icon>
                        {{'save' |translate}}
                    </button>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
        <div class="col-12 full-width" style="margin-top: 15px;">
            <div class="full-height">
                <div class="in-line-forms">
                    <mat-form-field appearance="fill" class="input-half-left">
                        <mat-label>{{'territoryId' | translate}}</mat-label>
                        <mat-select id="territoryId" formControlName="territoryId" [disabled]="true">
                            <mat-option *ngFor="let val of territoryList" [value]="val.territoryId">{{val.territoryId}}
                            </mat-option>
                        </mat-select>
                        <mat-hint>{{"hintIdTerritoryAddCampaign" | translate}}</mat-hint>
                    </mat-form-field>
                </div>
                <div class="in-line-forms" style="margin-top: 20px;">
                    <mat-form-field appearance="fill" class="input-half-left">
                        <mat-label>{{'typology' | translate}}</mat-label>
                        <mat-select id="type" formControlName="type">
                            <mat-option *ngFor="let val of typeCampaign" [value]="val">{{val |translate}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="input-half-right">
                        <mat-label>{{'state' | translate}}</mat-label>
                        <mat-select id="active" formControlName="active">
                            <mat-option *ngFor="let val of [true,false]" [value]="val">{{ transformActiveBoolean(val)
                                |translate}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="in-line-forms">
                    <mat-form-field appearance="fill" class="input-half-left">
                        <mat-label>{{'dateFrom' | translate}}</mat-label>
                        <input matInput id="dateFrom" formControlName="dateFrom" [matDatepicker]="picker1">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="input-half-right">
                        <mat-label>{{'dateTo' | translate}}</mat-label>
                        <input matInput id="dateTo" formControlName="dateTo" [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="in-line-forms">
                    <mat-form-field appearance="fill" class="input-half-left">
                        <mat-label>{{'means' | translate}}</mat-label>
                        <mat-select id="means" formControlName="means" multiple
                            (selectionChange)="chengeSelectedMeans($event)">
                            <mat-option *ngFor="let mean of means" [value]="mean">{{mean |translate}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <mat-grid-list [cols]="4" rowHeight="50px" style="margin-bottom: 10px">
                    <div *ngFor="let mean of meansSelected">
                        <mat-grid-tile>
                            {{mean | translate}}
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field appearance="fill" class="grid-tile-limit" style="margin-right: 10px">
                                <mat-label>{{'dailyLimitString' | translate}} <span
                                        *ngIf="mean==='boat' || mean==='car'">({{'numberTrips' |
                                        translate}})</span><span *ngIf="mean!=='boat' && mean!=='car'">(km)</span>
                                </mat-label>
                                <input [ngModelOptions]="{standalone: true}" type="number" matInput
                                    id="{{'dailyLimit'+mean}}" name="{{'dailyLimit'+mean}}"
                                    [(ngModel)]="selectedLimits[mean].dailyLimit">
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field appearance="fill" class="grid-tile-limit" style="margin-right: 10px">
                                <mat-label>{{'weeklyLimitString' | translate}} <span
                                        *ngIf="mean==='boat' || mean==='car'">({{'numberTrips' |
                                        translate}})</span><span *ngIf="mean!=='boat' && mean!=='car'">(km)</span>
                                </mat-label>
                                <input [ngModelOptions]="{standalone: true}" type="number" matInput
                                    id="{{'weeklyLimit'+mean}}" name="{{'weeklyLimit'+mean}}"
                                    [(ngModel)]="selectedLimits[mean].weeklyLimit">
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field appearance="fill" class="grid-tile-limit">
                                <mat-label>{{'monthlyLimitString' | translate}} <span
                                        *ngIf="mean==='boat' || mean==='car'">({{'numberTrips' |
                                        translate}})</span><span *ngIf="mean!=='boat' && mean!=='car'">(km)</span>
                                </mat-label>
                                <input [ngModelOptions]="{standalone: true}" type="number" matInput
                                    id="{{'monthlyLimit'+mean}}" name="{{'monthlyLimit'+mean}}"
                                    [(ngModel)]="selectedLimits[mean].monthlyLimit">
                            </mat-form-field>
                        </mat-grid-tile>
                    </div>
                </mat-grid-list>
                <div class="in-line-forms">
                    <mat-form-field appearance="fill" class="input-half-left">
                        <mat-label>{{'webHookEvents' | translate}}</mat-label>
                        <mat-select id="webHookEvents" formControlName="webHookEvents" multiple>
                            <mat-option *ngFor="let event of weebHooksEventsList" [value]="event">{{event |translate}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div
                    *ngIf="!!validatingForm.get('webHookEvents').value && validatingForm.get('webHookEvents').value.length>0">
                    <div class="in-line-forms">
                        <mat-form-field appearance="fill" class="input-half-left">
                            <mat-label>{{'webHookId' | translate}}
                            </mat-label>
                            <input matInput formControlName="webHookId" type="text" />
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="input-half-left">
                            <mat-label>{{'endPointCongWebHook' | translate}}
                            </mat-label>
                            <input matInput formControlName="endPointCongWebHook" type="text" />
                        </mat-form-field>
                    </div>
                </div>
                <div class="in-line-forms"
                    *ngIf="!!validatingForm.get('type').value && validatingForm.get('type').value!=='company'">
                    <mat-form-field appearance="fill" class="input-half-left">
                        <mat-label>{{'startDayOfWeek' | translate}}</mat-label>
                        <input matInput id="startDayOfWeek" formControlName="startDayOfWeek">
                        <mat-hint>{{"hintStartDayOfWeek" | translate}}</mat-hint>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="input-half-right">
                        <mat-label>{{'gameId' | translate}}</mat-label>
                        <input matInput id="gameId" formControlName="gameId">
                    </mat-form-field>
                </div>
                <div class="multilanguage-box">
                    <mat-form-field appearance="fill" class="input-half-left">
                        <mat-label>{{'languages' | translate}}</mat-label>
                        <mat-select id="languages" formControlName="languages"
                            (valueChange)="selectedLanguageClick($event)">
                            <mat-option *ngFor="let lang of languagesSupported" [value]="lang">{{lang | translate}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <p class="warning">{{'warningTextBoxesSelectedLanguage' | translate}}</p>
                    <div *ngFor="let l of languagesSupported">
                        <mat-form-field appearance="fill" *ngIf="l===languageSelected" class="input-half-left">
                            <mat-label>{{'nameCampaign' | translate}} - {{l | translate}}</mat-label>
                            <input matInput id="{{'name'+languageSelected}}"
                                formControlName="{{'name'+languageSelected}}">
                        </mat-form-field>
                        <mat-card class="card" *ngIf="l===languageSelected">
                            <mat-card-title>{{'description' | translate}} - {{l | translate}}</mat-card-title>
                            <mat-card-content>
                                <rich-text-editor [control]="descriptionRichControl"></rich-text-editor>
                            </mat-card-content>
                        </mat-card>

                        <div class="in-line-forms" *ngIf="l===languageSelected" style="margin-top: 20px">
                            <div *ngFor="let detail of details">
                                <mat-card class="card-expandable card-normal" style="margin-bottom: 15px;">
                                    <mat-card-title class="cursor-pointer" (click)="toggleDetail(detail)">
                                        {{ (detail.name? detail.name : 'newDetail') | translate}} - {{l | translate}}
                                        <mat-card-actions class="right-button top-button">
                                            <mat-icon *ngIf="detail.collapsed">
                                                <span class="material-symbols-outlined">
                                                    expand_more
                                                </span>
                                            </mat-icon>
                                            <mat-icon *ngIf="!detail.collapsed">
                                                <span class="material-symbols-outlined">
                                                    expand_less
                                                </span>
                                            </mat-icon>
                                        </mat-card-actions>
                                    </mat-card-title>
                                    <mat-card-content [@bodyExpansion]="detail.collapsed ? 'collapsed': 'expanded' "
                                        class="expandable-content">
                                        <form [formGroup]="detail.languageDataForm[languageSelected]">
                                            <div class="in-line-forms">
                                                <mat-form-field appearance="fill" class="new-details-input">
                                                    <mat-label>{{'nameDetail' | translate}} - {{l | translate}}
                                                    </mat-label>
                                                    <input matInput formControlName="name" type="text" />
                                                </mat-form-field>
                                            </div>
                                        </form>
                                        <form [formGroup]="detail.staticTypeForm">
                                            <div class="in-line-forms">
                                                <mat-form-field appearance="fill" class="new-details-input">
                                                    <mat-label>{{'type' | translate}}</mat-label>
                                                    <mat-select id="type" formControlName="type">
                                                        <mat-option *ngFor="let type of detailsType"
                                                            [value]="type.value" (onSelectionChange)="type.used = true">
                                                            {{type.value | translate}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                                <mat-form-field appearance="fill" class="new-details-input">
                                                    <mat-label>{{'extraUrl' | translate}}</mat-label>
                                                    <input matInput formControlName="extUrl" type="text" />
                                                </mat-form-field>
                                            </div>
                                        </form>
                                        <rich-text-editor
                                            [control]="detail.languageDataForm[languageSelected].get('content')">
                                        </rich-text-editor>
                                    </mat-card-content>
                                    <button type="button" mat-flat-button class="delete-detail-button"
                                        (click)="deleteDetail(detail)">
                                        {{'delete' | translate}}
                                        <mat-icon>
                                            <span class="material-symbols-outlined">
                                                delete
                                            </span>
                                        </mat-icon>
                                    </button>
                                </mat-card>
                            </div>
                        </div>
                    </div>
                    <div class="in-line-forms" style="margin-top: 20px">
                        <button mat-flat-button type="button" color="primary" (click)="addDetail()">
                            <mat-icon>
                                <span class="material-symbols-outlined">
                                    add
                                </span>
                            </mat-icon>
                            {{'addDetail' | translate}}
                        </button>
                    </div>

                </div>
                <div class="in-line-forms" *ngIf="selectedLogo || selectedBanner">
                    <img *ngIf="selectedLogo" class="input-half-left"
                        src="{{PREFIX_SRC_IMG_C + selectedLogo.contentType + BASE64_SRC_IMG_C + selectedLogo.image}}"
                        style="width: 100px;height: 100px;">
                    <span style="margin-right: 47%"></span>
                    <img *ngIf="selectedBanner" class="input-half-right"
                        src="{{PREFIX_SRC_IMG_C + selectedBanner.contentType + BASE64_SRC_IMG_C + selectedBanner.image}}"
                        style="width: 100px;height: 100px;">
                </div>
                <div class="in-line-forms">
                    <mat-form-field appearance="fill" class="input-half-left">
                        <input matInput formControlName="logo" type="file" accept="image/png, image/jpeg"
                            (change)="uploadLogo($event)" />
                        <mat-hint>{{'logo' |translate}}</mat-hint>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="input-half-right">
                        <input matInput formControlName="banner" type="file" accept="image/png, image/jpeg"
                            (change)="uploadBanner($event)" />
                        <mat-hint>{{'banner' |translate}}</mat-hint>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="full-width" *ngIf="type === 'modify'">
    <form [formGroup]="validatingForm">
        <div class="header-bar-stick">
            <mat-grid-list [cols]="8" rowHeight="60px">
                <mat-grid-tile [colspan]="6">
                    <mat-grid-list [cols]="1" rowHeight="30px" style="width: 100%;">
                        <mat-grid-tile [colspan]="1">
                            <h1 style="width: 100%;margin-bottom: 0px;">{{'modifyCampaign' | translate}} -
                                {{campaignUpdated.name[languageDefault]}}, {{'campaignId' | translate}}:
                                {{campaignUpdated.campaignId}}</h1>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="1">
                            <p *ngIf="!!errorMsgValidation" class="red" style="width: 100%;margin-bottom: 0px;">
                                {{errorMsgValidation | translate}}</p>
                        </mat-grid-tile>
                    </mat-grid-list>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1">
                    <button class="grey-background" mat-flat-button (click)="cancelGoBack($event)">{{'cancel'
                        |translate}}</button>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1">
                    <button color="primary" mat-raised-button type="submit" (click)="validate()">
                        <mat-icon>
                            <span class="material-symbols-outlined">
                                save
                            </span>
                        </mat-icon>
                        {{'save' |translate}}
                    </button>
                </mat-grid-tile>
            </mat-grid-list>
        </div>

        <div class="col-12 full-width" style="margin-top: 15px;">
            <div class="full-height">
                <div class="in-line-forms" style="margin-top: 20px;">
                    <mat-form-field appearance="fill" class="input-half-left">
                        <mat-label>{{'typology' | translate}}</mat-label>
                        <mat-select id="type" formControlName="type">
                            <mat-option *ngFor="let val of typeCampaign" [value]="val">{{val |translate}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="input-half-right">
                        <mat-label>{{'state' | translate}}</mat-label>
                        <mat-select id="active" formControlName="active">
                            <mat-option *ngFor="let val of [true,false]" [value]="val">{{ transformActiveBoolean(val)
                                |translate}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="in-line-forms">
                    <mat-form-field appearance="fill" class="input-half-left">
                        <mat-label>{{'dateFrom' | translate}}</mat-label>
                        <input matInput id="dateFrom" formControlName="dateFrom" [matDatepicker]="picker1">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="input-half-right">
                        <mat-label>{{'dateTo' | translate}}</mat-label>
                        <input matInput id="dateTo" formControlName="dateTo" [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="in-line-forms">
                    <mat-form-field appearance="fill" class="input-half-left">
                        <mat-label>{{'means' | translate}}</mat-label>
                        <mat-select id="means" formControlName="means" multiple
                            (selectionChange)="chengeSelectedMeans($event)">
                            <mat-option *ngFor="let mean of means" [value]="mean">{{mean |translate}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <mat-grid-list [cols]="4" rowHeight="50px" style="margin-bottom: 10px">
                    <div *ngFor="let mean of meansSelected">
                        <mat-grid-tile>
                            {{mean | translate}}
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field appearance="fill" class="grid-tile-limit" style="margin-right: 10px">
                                <mat-label>{{'dailyLimitString' | translate}} <span
                                        *ngIf="mean==='boat' || mean==='car'">({{'numberTrips' |
                                        translate}})</span><span *ngIf="mean!=='boat' && mean!=='car'">(km)</span>
                                </mat-label>
                                <input [ngModelOptions]="{standalone: true}" type="number" matInput
                                    id="{{'dailyLimit'+mean}}" name="{{'dailyLimit'+mean}}"
                                    [(ngModel)]="selectedLimits[mean].dailyLimit">
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field appearance="fill" class="grid-tile-limit" style="margin-right: 10px">
                                <mat-label>{{'weeklyLimitString' | translate}} <span
                                        *ngIf="mean==='boat' || mean==='car'">({{'numberTrips' |
                                        translate}})</span><span *ngIf="mean!=='boat' && mean!=='car'">(km)</span>
                                </mat-label>
                                <input [ngModelOptions]="{standalone: true}" type="number" matInput
                                    id="{{'weeklyLimit'+mean}}" name="{{'weeklyLimit'+mean}}"
                                    [(ngModel)]="selectedLimits[mean].weeklyLimit">
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field appearance="fill" class="grid-tile-limit">
                                <mat-label>{{'monthlyLimitString' | translate}} <span
                                        *ngIf="mean==='boat' || mean==='car'">({{'numberTrips' |
                                        translate}})</span><span *ngIf="mean!=='boat' && mean!=='car'">(km)</span>
                                </mat-label>
                                <input [ngModelOptions]="{standalone: true}" type="number" matInput
                                    id="{{'monthlyLimit'+mean}}" name="{{'monthlyLimit'+mean}}"
                                    [(ngModel)]="selectedLimits[mean].monthlyLimit">
                            </mat-form-field>
                        </mat-grid-tile>
                    </div>
                </mat-grid-list>
                <div class="in-line-forms">
                    <mat-form-field appearance="fill" class="input-half-left">
                        <mat-label>{{'webHookEvents' | translate}}</mat-label>
                        <mat-select id="webHookEvents" formControlName="webHookEvents" multiple>
                            <mat-option *ngFor="let event of weebHooksEventsList" [value]="event">{{event |translate}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div
                    *ngIf="!!validatingForm.get('webHookEvents').value && validatingForm.get('webHookEvents').value.length>0">
                    <div class="in-line-forms">
                        <mat-form-field appearance="fill" class="input-half-left">
                            <mat-label>{{'webHookId' | translate}}
                            </mat-label>
                            <input matInput formControlName="webHookId" type="text" />
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="input-half-left">
                            <mat-label>{{'endPointCongWebHook' | translate}}
                            </mat-label>
                            <input matInput formControlName="endPointCongWebHook" type="text" />
                        </mat-form-field>
                    </div>
                </div>
                <div class="in-line-forms"
                    *ngIf="!!validatingForm.get('type').value && validatingForm.get('type').value!=='company'">
                    <mat-form-field appearance="fill" class="input-half-left">
                        <mat-label>{{'startDayOfWeek' | translate}}</mat-label>
                        <input matInput id="startDayOfWeek" formControlName="startDayOfWeek">
                        <mat-hint>{{"hintStartDayOfWeek" | translate}}</mat-hint>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="input-half-right">
                        <mat-label>{{'gameId' | translate}}</mat-label>
                        <input matInput id="gameId" formControlName="gameId">
                    </mat-form-field>
                </div>
                <div class="multilanguage-box">
                    <mat-form-field appearance="fill" class="input-half-left">
                        <mat-label>{{'languages' | translate}}</mat-label>
                        <mat-select id="languages" formControlName="languages"
                            (valueChange)="selectedLanguageClick($event)">
                            <mat-option *ngFor="let lang of languagesSupported" [value]="lang">{{lang | translate}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <p class="warning">{{'warningTextBoxesSelectedLanguage' | translate}}</p>
                    <div *ngFor="let l of languagesSupported">
                        <mat-card class="card" *ngIf="l===languageSelected">
                            <mat-card-title>{{'description' | translate}} - {{l | translate}}</mat-card-title>
                            <mat-card-content>
                                <rich-text-editor [control]="descriptionRichControl"></rich-text-editor>
                            </mat-card-content>
                        </mat-card>
                        <div class="in-line-forms" *ngIf="l===languageSelected" style="margin-top: 20px">
                            <div *ngFor="let detail of details">
                                <mat-card class="card-expandable card-normal" style="margin-bottom: 15px;">
                                    <mat-card-title class="cursor-pointer" (click)="toggleDetail(detail)">
                                        {{ (detail.languageDataForm[languageSelected].get('name') &&
                                        detail.languageDataForm[languageSelected].get('name').value?
                                        detail.languageDataForm[languageSelected].get('name').value +' (' +
                                        (detail.staticTypeForm.get('type').value | translate) + ')' :
                                        'newDetail')}} - {{l | translate}}
                                        <mat-card-actions class="right-button top-button">
                                            <mat-icon *ngIf="detail.collapsed">
                                                <span class="material-symbols-outlined">
                                                    expand_more
                                                </span>
                                            </mat-icon>
                                            <mat-icon *ngIf="!detail.collapsed">
                                                <span class="material-symbols-outlined">
                                                    expand_less
                                                </span>
                                            </mat-icon>
                                        </mat-card-actions>
                                    </mat-card-title>
                                    <mat-card-content [@bodyExpansion]="detail.collapsed ? 'collapsed': 'expanded' "
                                        class="expandable-content">
                                        <form [formGroup]="detail.languageDataForm[languageSelected]">
                                            <div class="in-line-forms">
                                                <mat-form-field appearance="fill" class="new-details-input">
                                                    <mat-label>{{'nameDetail' | translate}} - {{l | translate}}
                                                    </mat-label>
                                                    <input matInput formControlName="name" type="text" />
                                                </mat-form-field>
                                            </div>
                                        </form>
                                        <form [formGroup]="detail.staticTypeForm">
                                            <div class="in-line-forms">
                                                <mat-form-field appearance="fill" class="new-details-input">
                                                    <mat-label>{{'type' | translate}}</mat-label>
                                                    <mat-select id="type" formControlName="type">
                                                        <mat-option *ngFor="let type of detailsType"
                                                            [value]="type.value" (onSelectionChange)="type.used = true">
                                                            {{type.value | translate}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                                <mat-form-field appearance="fill" class="new-details-input">
                                                    <mat-label>{{'extraUrl' | translate}}</mat-label>
                                                    <input matInput formControlName="extUrl" type="text" />
                                                </mat-form-field>
                                            </div>
                                        </form>
                                        <rich-text-editor
                                            [control]="detail.languageDataForm[languageSelected].get('content')">
                                        </rich-text-editor>
                                    </mat-card-content>
                                    <button type="button" mat-flat-button class="delete-detail-button"
                                        (click)="deleteDetail(detail)">
                                        {{'delete' | translate}}
                                        <mat-icon>
                                            <span class="material-symbols-outlined">
                                                delete
                                            </span>
                                        </mat-icon>
                                    </button>
                                </mat-card>
                            </div>
                        </div>
                    </div>
                    <div class="in-line-forms" style="margin-top: 20px">
                        <button mat-flat-button type="button" color="primary" (click)="addDetail()">
                            <mat-icon>
                                <span class="material-symbols-outlined">
                                    add
                                </span>
                            </mat-icon>
                            {{'addDetail' | translate}}
                        </button>
                    </div>

                </div>
                <div class="in-line-forms" style="margin-bottom: 10px; margin-top: 50px;">
                    <div style="width:47%;float: left">
                        <span *ngIf="!uploadImageForModifyLogo">
                            <p>{{"currentLogo" | translate}}</p>
                            <img *ngIf="selectedLogo" src="{{!!selectedLogo.url ? selectedLogo.url : '' }}"
                                style="width: 100px;height: 100px;">
                        </span>
                        <span *ngIf="uploadImageForModifyLogo">
                            <p>{{"newLogo" | translate}}</p>
                            <img *ngIf="selectedLogo"
                                src="{{ PREFIX_SRC_IMG_C + selectedLogo.contentType + BASE64_SRC_IMG_C + selectedLogo.image}}"
                                style="width: 100px;height: 100px;">
                        </span>
                    </div>
                    <div style="width:47%; float:right">
                        <span *ngIf="!uploadImageForModifyBanner">
                            <p>{{"currentBanner" | translate}}</p>
                            <img *ngIf="selectedBanner" src="{{!!selectedBanner.url ? selectedBanner.url : ''}}"
                                style="width: 100px;height: 100px;">
                        </span>
                        <span *ngIf="uploadImageForModifyBanner">
                            <p>{{"newBanner" | translate}}</p>
                            <img *ngIf="selectedBanner"
                                src="{{ PREFIX_SRC_IMG_C + selectedBanner.contentType + BASE64_SRC_IMG_C + selectedBanner.image}}"
                                style="width: 100px;height: 100px;">
                        </span>
                    </div>
                </div>
                <div class="in-line-forms">
                    <mat-form-field appearance="fill" class="input-half-left">
                        <input matInput type="file" accept="image/png, image/jpeg" (change)="uploadLogo($event)" />
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="input-half-right">
                        <input matInput type="file" accept="image/png, image/jpeg" (change)="uploadBanner($event)" />
                    </mat-form-field>
                </div>
            </div>
        </div>
    </form>
</div>