<div class="full-width" *ngIf="type === 'add'">
    <h1>{{'addCampaign' | translate}}</h1>
    <div class="col-12 full-width">
        <form [formGroup]="validatingForm">
            <div style="height: 100%;">
                <div class="in-line-forms">
                    <mat-form-field appearance="fill" class="input-custom-half-left">
                        <mat-label>{{'territoryId' | translate}}</mat-label>
                        <mat-select id="territoryId" formControlName="territoryId">
                            <mat-option *ngFor="let val of territoryList" [value]="val">{{val.territoryId}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="in-line-forms">
                    <mat-form-field appearance="fill" class="input-custom-half-left">
                        <mat-label>{{'campaignId' | translate}}</mat-label>
                        <input matInput id="campaignId" formControlName="campaignId">
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="input-custom-half-right">
                        <mat-label>{{'name' | translate}}</mat-label>
                        <input matInput id="name" formControlName="name">
                    </mat-form-field>
                </div>
                <div class="in-line-forms">
                    <mat-form-field appearance="fill" class="input-custom-half-left">
                        <input matInput formControlName="logo" type="file" (change)="upload($event.target.files)" />
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="input-custom-half-right">
                        <mat-label>{{'means' | translate}}</mat-label>
                        <mat-select id="means" formControlName="means" multiple>
                            <mat-option *ngFor="let mean of means" [value]="mean">{{mean |translate}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="in-line-forms">
                    <mat-form-field appearance="fill" class="input-custom-half-left">
                        <mat-label>{{'description' | translate}}</mat-label>
                        <textarea matInput id="description" formControlName="description"></textarea>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="input-custom-half-right">
                        <mat-label>{{'privacy' | translate}}</mat-label>
                        <textarea matInput id="privacy" formControlName="privacy"></textarea>
                    </mat-form-field>
                </div>
                <div class="in-line-forms">
                    <mat-form-field appearance="fill" class="input-custom-half-left">
                        <mat-label>{{'rules' | translate}}</mat-label>
                        <textarea matInput id="rules" formControlName="rules"></textarea>
                    </mat-form-field>
                </div>
                <div class="in-line-forms">
                    <mat-form-field appearance="fill" class="input-custom-half-left">
                        <mat-label>{{'dateFrom' | translate}}</mat-label>
                        <input matInput id="dateFrom" formControlName="dateFrom" [matDatepicker]="picker1">
                        <mat-hint>{{'dateFormat' |translate}}</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="input-custom-half-right">
                        <mat-label>{{'dateTo' | translate}}</mat-label>
                        <input matInput id="dateTo" formControlName="dateTo" [matDatepicker]="picker">
                        <mat-hint>{{'dateFormat' |translate}}</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="in-line-forms">

                    <mat-form-field appearance="fill" class="input-custom-half-left">
                        <mat-label>{{'active' | translate}}</mat-label>
                        <mat-select id="active" formControlName="active">
                            <mat-option *ngFor="let val of [true,false]" [value]="val">{{val |translate}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="in-line-forms">
                    <mat-form-field appearance="fill" class="input-custom-half-left">
                        <mat-label>{{'type' | translate}}</mat-label>
                        <mat-select id="type" formControlName="type">
                            <mat-option *ngFor="let val of typeCampaign" [value]="val">{{val |translate}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="in-line-forms"
                    *ngIf="!!validatingForm.get('type').value && validatingForm.get('type').value!=='company'">
                    <mat-form-field appearance="fill" class="input-custom-half-left">
                        <mat-label>{{'startDayOfWeek' | translate}}</mat-label>
                        <input matInput id="startDayOfWeek" formControlName="startDayOfWeek">
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="input-custom-half-right">
                        <mat-label>{{'gameId' | translate}}</mat-label>
                        <input matInput id="gameId" formControlName="gameId">
                    </mat-form-field>
                </div>
            </div>
            <div style="height:60px;">
                <div *ngIf="!!errorMsgValidation" style=" width:100%; height: 20px;">
                    <p class="right-button" style="color:red">{{errorMsgValidation | translate}}</p>
                </div>
                <button class="right-button green" mat-raised-button type="submit" (click)="validate()">{{'save' |
                    translate}}</button>
                <button class="right-button" mat-flat-button (click)="onNoClick($event)">{{'cancel'
                    |translate}}</button>
            </div>
        </form>
    </div>
</div>
<div class="full-width" *ngIf="type === 'modify'">
    <h1>{{'modifyCampaign' | translate}} </h1>
    <h3>TerritoryId: {{campaignUpdated.territoryId}} </h3>
    <h3>Name: {{campaignUpdated.name}} </h3>
    <h5>ID: {{campaignUpdated.campaignId}}</h5>
    <div class="col-12 full-width">
        <form [formGroup]="validatingForm">
            <div style="height: 100%;">
                <div class="in-line-forms">
                    <mat-form-field appearance="fill" class="input-custom-half-left">
                        <input matInput formControlName="logo" type="file" (change)="upload($event.target.files)" />
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="input-custom-half-right">
                        <mat-label>{{'means' | translate}}</mat-label>
                        <mat-select id="means" formControlName="means" multiple>
                            <mat-option *ngFor="let mean of means" [value]="mean">{{mean |translate}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="in-line-forms">
                    <mat-form-field appearance="fill" class="input-custom-half-left">
                        <mat-label>{{'description' | translate}}</mat-label>
                        <textarea matInput id="description" formControlName="description"></textarea>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="input-custom-half-right">
                        <mat-label>{{'privacy' | translate}}</mat-label>
                        <textarea matInput id="privacy" formControlName="privacy"></textarea>
                    </mat-form-field>
                </div>
                <div class="in-line-forms">
                    <mat-form-field appearance="fill" class="input-custom-half-left">
                        <mat-label>{{'rules' | translate}}</mat-label>
                        <textarea matInput id="rules" formControlName="rules"></textarea>
                    </mat-form-field>
                </div>
                <div class="in-line-forms">
                    <mat-form-field appearance="fill" class="input-custom-half-left">
                        <mat-label>{{'dateFrom' | translate}}</mat-label>
                        <input matInput id="dateFrom" formControlName="dateFrom" [matDatepicker]="picker1">
                        <mat-hint>{{'dateFormat' |translate}}</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="input-custom-half-right">
                        <mat-label>{{'dateTo' | translate}}</mat-label>
                        <input matInput id="dateTo" formControlName="dateTo" [matDatepicker]="picker">
                        <mat-hint>{{'dateFormat' |translate}}</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="in-line-forms">

                    <mat-form-field appearance="fill" class="input-custom-half-left">
                        <mat-label>{{'active' | translate}}</mat-label>
                        <mat-select id="active" formControlName="active">
                            <mat-option *ngFor="let val of [true,false]" [value]="val">{{val | translate}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="in-line-forms">
                    <mat-form-field appearance="fill" class="input-custom-half-left">
                        <mat-label>{{'type' | translate}}</mat-label>
                        <mat-select id="type" formControlName="type">
                            <mat-option *ngFor="let val of typeCampaign" [value]="val">{{val |translate}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="in-line-forms"
                    *ngIf="!!validatingForm.get('type').value && validatingForm.get('type').value!=='company'">
                    <mat-form-field appearance="fill" class="input-custom-half-left">
                        <mat-label>{{'startDayOfWeek' | translate}}</mat-label>
                        <input matInput id="startDayOfWeek" formControlName="startDayOfWeek">
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="input-custom-half-right">
                        <mat-label>{{'gameId' | translate}}</mat-label>
                        <input matInput id="gameId" formControlName="gameId">
                    </mat-form-field>
                </div>
            </div>
            <div style="height:60px;">
                <div *ngIf="!!errorMsgValidation" class="right-button" style=" width:100%; height: 20px;">
                    <p style="color:red">Error message</p>
                </div>
                <button class="right-button green" mat-raised-button type="submit" (click)="validate()">{{'save' |
                    translate}}</button>
                <button class="right-button" mat-flat-button (click)="onNoClick($event)">{{'cancel'
                    |translate}}</button>
            </div>
        </form>
    </div>
</div>