.input-half-left{
    width: 45%;
    margin-right: 1%;
  }
  
  .input-half-right{
    width: 45%;
    margin-left: 1%;
  }
  
  .in-line-forms{
    width: 100%;
  }


  .add{
      margin-left: 1%;
      top:-3px;
      position: relative;
      float:right;
  }

  .delete{
    background: red; 
    color: white;
    margin-right: 20px;
  }

  .edit{
    background: #9cf19979; 
  }

  .bold{
      font-weight: bold;
  }

  .error{
    color: red;
    position: absolute;
    left: 5px;
  }

.mat-column-defaultSurvey {
  width: 8% !important;
  word-break: break-word;
}

.mat-column-type {
  width: 7% !important;
  word-break: break-word;
}

.mat-column-score {
  width: 5% !important;
  word-break: break-word;
}

.mat-column-link {
  width: 40% !important;
  word-break: break-word;
}

.mat-column-surveyId {
  width: 8% !important;
  word-break: break-word;
}

.mat-column-buttons {
  width: 20% !important;
  margin-left: 10px;
}

.header-bar-stick{
  background-color: white;
  position: sticky;
  z-index: 1000;
  top: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.116);
  margin-top: 10px;
}

.title-left{
  margin-top: 10px;
  float:left; 
  min-width: 500px;
  width: 75%;
  height: 100%;
}


.title-right{
  width: 25%;
  height: 100%;
  float: right;
}
.header-div{
  top: -5px;
  display: inline-block;
  width: 100%;
  margin-bottom: 0px;
  position: absolute;
}

.close-div{
  display: inline-block;
  width: 10%;
  height: 35px;
  margin-bottom: 0px;
}