<div class="header-bar-stick">
    <form [formGroup]="validatingForm">
        <mat-grid-list cols="8" rowHeight="50px">
            <mat-grid-tile [colspan]="7" [rowspan]="1">
                <h1 class="header-div">{{ 'surveys'| translate}}</h1>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <button class="right-button" type="button" mat-icon-button (click)="onNoClick($event)">
                    <mat-icon>
                        <span class="material-symbols-outlined">
                            close
                        </span>
                    </mat-icon>
                </button>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1">
                <mat-checkbox style="position: absolute;" color="primary" [checked]="defaultSurveyCheck" (change)="defaultSurveyCheck = !defaultSurveyCheck">{{'defaultSurvey' | translate}}</mat-checkbox>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="3" [rowspan]="1">
                <mat-form-field appearance="fill" class="full-width" style="margin-right:5px">
                    <mat-label>{{'surveyName' | translate}}</mat-label>
                    <input matInput id="surveyName" formControlName="surveyName">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="3" [rowspan]="1">
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>{{'surveyLink' | translate}}</mat-label>
                    <input matInput id="surveyLink" formControlName="surveyLink">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="4" [rowspan]="1">
                <mat-form-field appearance="fill" class="full-width" style="margin-right:5px">
                    <mat-label>{{'bonusPoint' | translate}}</mat-label>
                    <input matInput type="text" id="bonusPoint" formControlName="bonusPoint">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="4" [rowspan]="1">
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>{{'bonusScore' | translate}}</mat-label>
                    <input matInput type="number" id="bonusScore" formControlName="bonusScore">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="6" [rowspan]="1" >
                <p *ngIf="msgError" class="error" >{{msgError}}</p>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1">
                <button type="submit" class="add full-width" mat-flat-button color="primary"
                (click)="addSurvey()">
                <mat-icon>add</mat-icon>
                {{'add' | translate}}
            </button>
            </mat-grid-tile>
        </mat-grid-list>
    </form>
</div>
<table mat-table [dataSource]="dataSource" class="survey-table">

    <ng-container matColumnDef="defaultSurvey">
        <th mat-header-cell *matHeaderCellDef> {{
            'defaultSurvey'| translate}} </th>
        <td mat-cell *matCellDef="let element" class="bold"> 
            <mat-icon *ngIf="element.defaultSurvey">
                <span class="material-icons-outlined">
                    done
                </span>
            </mat-icon>
            <mat-icon *ngIf="!element.defaultSurvey">
                <span class="material-icons-outlined">
                    close
                </span>
            </mat-icon>
        </td>
    </ng-container>

    <ng-container matColumnDef="surveyName">
        <th mat-header-cell *matHeaderCellDef> {{
            'surveyName'| translate}} </th>
        <td mat-cell *matCellDef="let element" class="bold"> {{element.surveyName}} </td>
    </ng-container>

    <ng-container matColumnDef="surveyLink">
        <th mat-header-cell *matHeaderCellDef> {{ 'surveyLink'|
            translate}} </th>
        <td mat-cell *matCellDef="let element"><a href="{{element.surveyLink}}">{{element.surveyLink}}</a> </td>
    </ng-container>

    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> {{ 'type'|
            translate}} </th>
        <td mat-cell *matCellDef="let element">{{element.data.bonusPointType}} </td>
    </ng-container>

    <ng-container matColumnDef="score">
        <th mat-header-cell *matHeaderCellDef> {{ 'score'|
            translate}} </th>
        <td mat-cell *matCellDef="let element">{{element.data.bonusScore}} </td>
    </ng-container>

    <!-- <ng-container matColumnDef="from">
        <th mat-header-cell *matHeaderCellDef> {{ 'dateFrom'|
            translate}} </th>
        <td mat-cell *matCellDef="let element">{{fromTimestampToDate(element.start)}} </td>
    </ng-container>

    <ng-container matColumnDef="to">
        <th mat-header-cell *matHeaderCellDef> {{ 'dateTo'|
            translate}} </th>
        <td mat-cell *matCellDef="let element">{{fromTimestampToDate(element.end)}} </td>
    </ng-container> -->

    <ng-container matColumnDef="buttons">
        <th mat-header-cell *matHeaderCellDef> {{'actions' | translate}} </th>
        <td mat-cell *matCellDef="let element">
            <mat-grid-list cols="2" rowHeight="50px"> 
                <mat-grid-tile [colspan]="1" rowspan="1">
                    <button type="button" mat-icon-button (click)="deleteSurvey(element)">
                        <mat-icon>
                            <span class="material-symbols-outlined">
                                delete
                            </span>
                        </mat-icon>
                    </button>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" rowspan="1">
                    <button color="primary" type="button" mat-icon-button (click)="assignSurvey(element)" disabled="{{element.defaultSurvey}}">
                        <mat-icon>
                            <span class="material-symbols-outlined">
                                edit
                            </span>
                        </mat-icon>
                    </button>
                </mat-grid-tile>
            </mat-grid-list>


        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row [ngClass]="{'newItem' : !!row && !!newItem &&  row.surveyName === newItem.surveyName}"
        *matRowDef="let row; columns: displayedColumns;"></tr>
</table>